body{
    /* margin: 0px 100px; */
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
}
.banner{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner video{
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
h1{
    margin-top: 150px;
    padding: 40px 0px;
    color: white;
    text-align: left;
    font-size: 40px;
    background-color: #234268;
    border-radius: 20px;
    position: relative;
    z-index: 1;

}
h2{
    color: white;
    background-color: #234268;
    width: 250px;
    padding: 10px;
    border-radius: 50px;
}
header{
    padding: 0px 50px;
    position: relative;
    z-index: 1;
    font-size: 30px;
}
section{
    background-color: transparent;
    border-top: #234268 solid 4px;
    border-radius: 10px;
    position: relative;
    z-index: 1;
    margin-top: 150px;
    border-left: solid #234268 4px;
    border-right: solid #234268 4px;
}

input{
    height: 45px;
    width: 400px;
    margin-left: 20px;
    font-size: 20px;
}

button{
    background-color: #234268;
    color: white;
}

#nomDeTache{
    font-size: 20px;
}

#Ajout{
    height: 40px;
    width: 100px;
    font-size: 20px;
    background-color: #234268;
    border-radius: 30px;
    color: white;
}
#filtre{
    text-align: right;
    border-bottom: solid 5px #234268;
    border-radius: 4px;
    padding: 0;
    margin: 0;
}
i{
    color: white;
    padding: 0px 15px;
    text-align: right;
}
#filtre button{
    height: 40px;
    max-width: max-content;
    font-size: 15px;
    border-radius: 15px;    
    margin-bottom: 10px;
    margin-right: 10px;
}


.tache{
    display: flex;
    justify-content: space-between;
    height: 50px;
    background-color: rgb(187, 187, 187);
    font-size: 20px;
    padding: 25px 20px;
    display: flex;
    align-items: center;
    border-radius: 15px;    
    margin: 10px 15px;
}

.disparait{
    display: none
}
.fini{
    background-color: chartreuse;
}
/* 

.fa-check-circle{
    text-align: right;
}
.fa-window-close{
    text-align: right;
} */
